@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */
/* @import "tailwindcss/screens"; */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@theme {
  --color-primary: #b6b66a;
  --color-light: #d3d3d3;
  --color-dark: #c87a3a;
  --color-green: #5a7f4e;
}
